/examples/node_modules
.env
.env.local
.env.*.local
**/.speakeasy/temp/
**/.speakeasy/logs/
.speakeasy/temp/
.DS_Store
/mcp-server
/bin
/.eslintcache
/.speakeasy/reports
/react-query
/funcs
/core.*
/__tests__
/models
/models/errors
/types
/node_modules
/lib
/sdk
/hooks
/index.*
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
